<p>Results: Each list of words is sorted from highest to lowest base score.</p>
<div class="row">
  <% @found_words.each_with_index do |words_array, i| %>
    <div class="col-4">
      <p><%= i+2 %>-letter words</p>
      <ul>
        <% words_array.each do |word| %>
          <li class="scrabble-word"><%= word %></li> <span class="score"><%= Word.base_word_score(word) %></span>
          <br/>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<br/>