<p>Letters entered:</p>
<div class="row letters-entered">
  <div class="col-12">
    <% @letters.chars.each do |letter| %>
      <div class="letter-block"><%= letter.upcase %></div>
    <% end %>

    <% @intersecting_letters.chars.each do |letter| %>
      <div class="letter-block"><%= letter.upcase %></div>
    <% end %>
  </div>
</div>

<div class="row" id="scrabble-results">
  <% @found_words.each do |words_array| %>
    <div class="col-12 col-lg-3 word-list-wrapper">
      <ul class="word-list">
        <% words_array.each do |word| %>
          <li class="scrabble-word"><%= word %></li> <span class="score"><%= Word.base_word_score(word) %></span>
          <br/>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>