body {
  margin: 25px;
}

.word-form-box {
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 20px;
}

.word-form-box input[type='text'] {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}