body {
  font-family: 'Lato', sans-serif;
  margin: 25px;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.page-heading {
  font-family: "MedievalSharp", cursive;
  font-size: 400%;
}

.page-heading-link {
  color: inherit;
  text-decoration: none;
}

.form-link {
  color: inherit;
}

.word-form-box {
  margin-bottom: 10px;
}

.word-form-box form {
  margin-bottom: 10px;
}

.word-form-box input[type='text'] {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.plus {
  background-color: #444;
  font-weight: bold;
}

.score {
  color: green;
  font-weight: bold;
}

.scrabble-word {
  display: inline-block;
}

.word-list-wrapper {
  text-align: center;
}

.letters-entered {
  margin-bottom: 20px;
}

.letter-block {
    background-color: #eab534;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: 5px 12px;
    width: 43px;
}

.dad-joke {
  border: 3px solid #222;
  border-radius: 10px;
  font-size: 125%;
  padding: 10px;
  margin: 20px 0 20px;
}

@media only screen and (max-width: 768px) {
  .page-heading {
    font-size: 250%;
  }
  .page-heading-link {
    text-decoration: underline;
  }
  .bard-img {
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
  }
  .letters-entered {
    margin-bottom: 10px;
  }
}
